body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
.intro span{
    color: orange;
}
.welcome{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
    padding-top: 10px;
}
.content-about p{
    margin-bottom: 60px;
}
.btn-hire a{
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    text-transform: uppercase;
    border-radius: 5px;
}
.dream-area{
    display: flex;
    margin-top: 40px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-area img{
    width: 75%;
}
.dream-area p{
    margin-bottom: 60px;
}
.experiance-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
.flexiable-container{
    display: flex;
}
.experiance-item1{
    width: 40%;
    margin-left: 5%;
    margin-right: 2.5%;
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
.experiance-item2{
    width: 40%;
    margin-left: 2.5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}